name: Flutter analyze & test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flutter-check:
    name: Analyze & test
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          architecture: arm64

      - name: Install packages
        run: flutter pub get

      - name: Lint
        run: flutter analyze

      - name: Run tests
        run: flutter test
